
<!-- first section - Home -->
<div id="home" class="home">
  <div class="container text-vcenter">
    <div class="text-left col-sm-offset-2 col-sm-8">
        <h1>Group Negaça Capoeira</h1>
        <span>Mestre Chitãozinho</span><br>
        <span>Cambridge</span>
        <span>Saffron Walden</span>
        <span>Pampisford</span>
        <br>
        <br>
    </div>
  </div>
</div>
<!-- /first section -->
