<div class="social">
	<a class="btn-social btn-facebook" title="Facebook page" href="https://www.facebook.com/Grupo-Negaca-Capoeira-Cambridge-575596415943952" target="_blank">
		<i class="fa fa-facebook"></i>
  	</a>
	<a class="btn-social btn-instagram" title="Instagram" href="https://www.instagram.com/gruponegacacapoeira_uk/" target="_blank">
		<i class="fa fa-instagram"></i>
  	</a>
	<a class="btn-social btn-twitter" title="Twitter" href="https://twitter.com/Negaca_Capoeira" target="_blank">
    		<i class="fa fa-twitter"></i>
  	</a>
  	<a class="btn-social btn-youtube" title="YouTube Channel" href="https://www.youtube.com/channel/UC6rofjtQz3VAATrEEJMGAjA" target="_blank">
    		<i class="fa fa-youtube"></i>
  	</a>
  	<a class="btn-social btn-email" title="Contact Us" href="mailto:negaca@capoeiracambridge.co.uk" target="_blank">
    		<i class="fa fa-envelope"></i>
  	</a>
  	<a class="btn-social" title="NAKMAS" href="https://nakmas.org.uk" target="_blank">
    		<img src="https://static.tildacdn.com/tild3434-3436-4364-b838-613232663838/nakmasr.PNG" width="90">
  	</a>
</div>
